<html>
    <head><title>{{title}}</title></head>
    <body>
        <div>
        <fieldset>
            <legend>Fraudulent Payment Service</legend>
            <table>
                <tr><td>Unique Id : </td><td><input type="number" [(ngModel)]="id"></td></tr>
                <tr><td>Banned Currencies : </td><td>
                    <select [(ngModel)]="banCur">
                        <option>Select Currency</option>
                        <option *ngFor="let ban of bcurr">{{ban}}</option>
                    </select>
                </td></tr>
                <tr><td>Amount Limit : </td><td><input type="number" [(ngModel)]="amt"></td></tr>
                <tr><td>Blocked Account No : </td><td><input type="number" [(ngModel)]="accNo" ></td></tr>
                <tr><td>Date : </td><td><input type="date" [(ngModel)]="date"></td></tr>
                <tr><td>Time : </td><td><input type="time" [(ngModel)]="time"></td></tr>
                <tr><td><input type="submit" value="submit data" (click)="onButClick()"></td><td><input type="submit" value="get data" (click)="onFetchBut()"></td></tr>
            </table>
        </fieldset>
    </div>
    <div>
        <h2 align="center">Fraudulent Payment Data</h2>
        <table border="1" align="center">
            <tr><th>ID</th><th>BANNED CURRENCY</th><th>AMOUNT LIMIT</th><th>BLOCK ACCOUNT</th><th>DATE</th><th>TIME</th><th>STATUS</th></tr>
            <tr *ngFor="let fp of fpay"><td>{{fp.id}}</td><td>{{fp.banCurr}}</td><td>{{fp.amtLimit}}</td><td>{{fp.blockAcc}}</td><td>{{fp.date}}</td><td>{{fp.time}}</td><td>{{fp.status}}</td></tr>
        </table>
    </div>
    </body>
</html>
